spring.jackson.serialization.indent_output=true
server.compression.enabled=true
server.compression.mime-types=text/html,text/xml,text/plain,text/css,text/javascript,application/javascript,application/json
server.compression.min-response-size=1024
Garmin.USERNAME=
Garmin.PASSWORD=
JWT.SECRETKEY=
amazon.dynamodb.endpoint=
amazon.aws.accesskey=
amazon.aws.secretkey=
mapbox.secretKey=
mapbox.publicKey=
S3_BUCKET_NAME=